[submodule "ogre"]
	path = ogre
	url = git@github.com:OGRECave/ogre.git
[submodule "reactphysics3d"]
	path = reactphysics3d
	url = git@github.com:DanielChappuis/reactphysics3d.git
[submodule "SDL"]
	path = SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "glm"]
	path = glm
	url = git@github.com:g-truc/glm.git
[submodule "cegui"]
	path = cegui
	url = git@github.com:cegui/cegui.git
[submodule "cegui-dependencies"]
	path = cegui-dependencies
	url = git@github.com:cegui/cegui-dependencies.git
